
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./static/Inter-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./static/Inter-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Inter";
  font-style: bold;
  font-weight: 800;
  font-display: swap;
  src: url("./static/Inter-Bold.ttf") format("ttf");
}

